
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.__myAlertModal .alert-dialogue .alert-text {
  font-family: "Roboto, Helvetica, Arial, sans-serif";
  font-weight: normal;
  
}